# ---------------
# Folders
# ---------------
.idea
build
/target
/lib
/logs
/properties
/resources
/system
node_modules
bower_components

# ---------------
# Project Files
# ---------------

*.iml

# ---------------
# Other
# ---------------

*.settings
*.project
*.classpath
