# ---------------
# Folders
# ---------------
.idea
build
target
lib
logs
/properties
/resources
/system


# ---------------
# Project Files
# ---------------

*.iml

# ---------------
# Other
# ---------------

*.settings
*.project
*.classpath
